.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #c51616;
    transition: color 0.3s ease-in;
  }
  
  .logout-button:hover {
    color: #d41616;
  }
  
  .logout-button:hover::after {
    margin-left: 0.5rem;
    font-size: 0.875rem;
  }